<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GemGCDDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF2531821E6837C6004D77AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF25319B1E6837C7004D77AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF2531A61E6837C7004D77AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
